.tx-list-page {
  background-size: 100% 31.6rem;
}

.home-page {
  background-size: 100% 24.7rem;
}

.tx-detail-page {
  background-size: 100% 26.8rem;
}

.address-detail-page {
  background-size: 100% 22.5rem;
}

.block-list-page {
  background-size: 100% 21.7rem;
}

.block-detail-page {
  background-size: 100% 22.1rem;
}

.asset-list-page {
  background-size: 100% 31.4rem;
}
.not-found-page {
  background-size: 100% 26.0rem;
}

.error-page {
  background-size: 100% 26.0rem;
}
